<a href="https://colab.research.google.com/github/mustang-raven999/CSC_8639_220524737/blob/master/NILM_Refit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('/content/drive/MyDrive/DISSERTATION/CLEAN_REFIT_081116/CLEAN_House2.csv', index_col=0, parse_dates=True)
df.head()

,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9,Issues
Time,,,,,,,,,,,,
2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0,0
2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0,0
2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0,0
2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0,0
2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0,0

In [8]:
df = df.drop(columns=['Issues'])

In [10]:
df = df.reset_index()

In [12]:
df.shape

(5733526, 12)

In [13]:
df.head()

,Time,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9
0,2013-09-17 22:08:11,1379455691,695,88,0,0,0,0,0,0,0,0
1,2013-09-17 22:08:18,1379455698,694,88,0,0,0,0,0,0,0,0
2,2013-09-17 22:08:26,1379455706,694,88,0,0,0,0,0,0,0,0
3,2013-09-17 22:08:34,1379455714,702,88,0,0,0,0,0,0,0,0
4,2013-09-17 22:08:42,1379455722,700,88,0,0,0,0,0,0,0,0

In [14]:
df = df.drop(columns=['Time'])

In [15]:
df.shape

(5733526, 11)

In [16]:
column_names_list = df.columns.tolist()
column_names_list

['Unix',
 'Aggregate',
 'Appliance1',
 'Appliance2',
 'Appliance3',
 'Appliance4',
 'Appliance5',
 'Appliance6',
 'Appliance7',
 'Appliance8',
 'Appliance9']

In [17]:
df.head()

,Unix,Aggregate,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9
0,1379455691,695,88,0,0,0,0,0,0,0,0
1,1379455698,694,88,0,0,0,0,0,0,0,0
2,1379455706,694,88,0,0,0,0,0,0,0,0
3,1379455714,702,88,0,0,0,0,0,0,0,0
4,1379455722,700,88,0,0,0,0,0,0,0,0

In [19]:
diff_df = df.rename(index=str, columns={
    "Appliance1":"Fridge-Freezer",
    "Appliance2":"Washing Machine",
    "Appliance3":"Dishwasher",
    "Appliance4":"Television Site",
    "Appliance5":"Microwave",
    "Appliance6":"Toaster",
    "Appliance7":"Hi-Fi",
    "Appliance8":"Kettle",
    "Appliance9":"Overhead Fan"
})

In [20]:
diff_df.head()

,Unix,Aggregate,Fridge-Freezer,Washing Machine,Dishwasher,Television Site,Microwave,Toaster,Hi-Fi,Kettle,Overhead Fan
0,1379455691,695,88,0,0,0,0,0,0,0,0
1,1379455698,694,88,0,0,0,0,0,0,0,0
2,1379455706,694,88,0,0,0,0,0,0,0,0
3,1379455714,702,88,0,0,0,0,0,0,0,0
4,1379455722,700,88,0,0,0,0,0,0,0,0

In [25]:
columns_to_keep = ['Unix', 'Aggregate','Fridge-Freezer', 'Washing Machine', 'Microwave','Kettle', 'Dishwasher']

In [26]:
diff_df_subset = diff_df[columns_to_keep]

In [27]:
diff_df_subset.head()

,Unix,Aggregate,Fridge-Freezer,Washing Machine,Microwave,Kettle,Dishwasher
0,1379455691,695,88,0,0,0,0
1,1379455698,694,88,0,0,0,0
2,1379455706,694,88,0,0,0,0
3,1379455714,702,88,0,0,0,0
4,1379455722,700,88,0,0,0,0

In [30]:
new_df = diff_df_subset.head(100000).copy()

file_path = '/content/drive/MyDrive/DISSERTATION/new_df.csv'  # Replace with your desired file name and path

# Export the DataFrame to a CSV file
new_df.to_csv(file_path, index=False)

In [32]:
# Redefining the params_appliance dictionary
params_appliance = {
    'kettle': {
        'windowlength': 599,
        'on_power_threshold': 2000,
        'max_on_power': 3998,
        'mean': 700,
        'std': 1000,
        's2s_length': 128, },
    'microwave': {
        'windowlength': 599,
        'on_power_threshold': 200,
        'max_on_power': 3969,
        'mean': 500,
        'std': 800,
        's2s_length': 128},
    'fridge': {
        'windowlength': 599,
        'on_power_threshold': 50,
        'max_on_power': 3323,
        'mean': 200,
        'std': 400,
        's2s_length': 512},
    'dishwasher': {
        'windowlength': 599,
        'on_power_threshold': 10,
        'max_on_power': 3964,
        'mean': 700,
        'std': 1000,
        's2s_length': 1536},
    'washingmachine': {
        'windowlength': 599,
        'on_power_threshold': 20,
        'max_on_power': 3999,
        'mean': 400,
        'std': 700,
        's2s_length': 2000}
    }

# Extracting activations with the updated mapping again
all_activations_updated = {}

for appliance_name, params in params_appliance.items():
    column_name = appliance_mapping_updated.get(appliance_name, None)
    if column_name:
        activations = extract_activations_from_new_df(new_df,
                                                      column_name,
                                                      params['on_power_threshold'],
                                                      60,  # Using a fixed min_on_duration
                                                      60)  # Using a fixed min_off_duration
        all_activations_updated[appliance_name] = activations

# Displaying the first few activations for 'kettle' as an example
all_activations_updated['kettle'][:5]

NameError: ignored

In [33]:
# Redefining the function to extract appliance activations from new_df

def extract_activations_from_new_df(df, appliance_name, power_threshold, min_on_duration, min_off_duration):
    """
    Extract activations for a given appliance from the new_df dataset.

    Parameters:
    - df: DataFrame
    - appliance_name: Name of the appliance column
    - power_threshold: Minimum power threshold to consider appliance as 'on'
    - min_on_duration: Minimum duration for which appliance should be 'on' to consider it an activation
    - min_off_duration: Minimum duration for which appliance should be 'off' between two activations

    Returns:
    - activations: List of dictionaries containing start and end Unix times for each activation
    """

    df_on = df[df[appliance_name] > power_threshold]

    activations = []

    start_time = -1
    end_time = -1
    previous_index = -1

    for index, row in df_on.iterrows():
        time = row['Unix']
        power = row[appliance_name]

        if start_time == -1:
            start_time = time
            end_time = time
        else:
            if time - end_time <= min_off_duration:
                end_time = time
            else:
                # save
                if end_time - start_time >= min_on_duration:
                    activations.append({
                        'start_time': start_time,
                        'end_time': end_time,
                        'duration': end_time - start_time,
                        'appliance_name': appliance_name
                    })
                start_time = time
                end_time = time

        previous_index = index

    if end_time - start_time >= min_on_duration:
        activations.append({
            'start_time': start_time,
            'end_time': end_time,
            'duration': end_time - start_time,
            'appliance_name': appliance_name
        })

    return activations

# Now, let's extract activations again using the updated mapping
all_activations_updated = {}

for appliance_name, params in params_appliance.items():
    column_name = appliance_mapping_updated.get(appliance_name, None)
    if column_name:
        activations = extract_activations_from_new_df(new_df,
                                                      column_name,
                                                      params['on_power_threshold'],
                                                      60,  # Using a fixed min_on_duration
                                                      60)  # Using a fixed min_off_duration
        all_activations_updated[appliance_name] = activations

# Displaying the first few activations for 'kettle' as an example
all_activations_updated['kettle'][:5]

[{'start_time': 1379485214,
  'end_time': 1379485337,
  'duration': 123,
  'appliance_name': 'Kettle'},
 {'start_time': 1379507895,
  'end_time': 1379508129,
  'duration': 234,
  'appliance_name': 'Kettle'},
 {'start_time': 1379514001,
  'end_time': 1379514091,
  'duration': 90,
  'appliance_name': 'Kettle'},
 {'start_time': 1379519888,
  'end_time': 1379520024,
  'duration': 136,
  'appliance_name': 'Kettle'},
 {'start_time': 1379531876,
  'end_time': 1379531979,
  'duration': 103,
  'appliance_name': 'Kettle'}]